#footer {
  min-height: 500px;
  margin-top: 200px;
  background: var(--black);
  border-radius: 4em 4em 0 0;
  position: relative;

  overflow-x: clip;
  .gold-branch {
    position: absolute;
    &.l {
      left: -40px;
      top: 50px;

      @media screen and (max-width: 420px) {
        left: -120px;
      }
    }
    &.r {
      right: -60px;
      scale: -1 1;
      top: 80px;
      @media screen and (max-width: 420px) {
        right: -170px;
        top: 20px;
      }
    }

    @media screen and (max-width: 1024px) {
      opacity: 0.2;
    }
  }
  .splat-top {
    position: absolute;
    width: 100%;
    height: 300px;
    object-fit: contain;
    object-position: 60%;
    top: 0%;
    transform: translateY(-70%);
  }
  .footer-confine {
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    gap: 2em;
    height: 100%;

    @media screen and (max-width: 1024px) {
      gap: 0;

      grid-template-columns: 1fr 2fr 1fr;
    }

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "c c"
        "r l";

      align-items: center;
      padding: 0 2em;
    }

    @media screen and (max-width: 420px) {
      grid-template-columns: 1fr;
      grid-template-areas: "c" "l" "r";
    }
    h3 {
      color: white;
      font-size: 1.4rem;
      margin: 0.4em 0;
    }
    .left {
      width: 100%;

      text-align: right;

      @media screen and (max-width: 768px) {
        grid-area: l;
        // width: 50%;
      }
      p {
        font-size: 0.75rem;
        color: var(--white);
      }

      .mini-info {
        margin: 2em 0;
      }
      .line {
        width: 100%;
        height: 2px;
        background: var(--gold);
      }
      .scrolltop {
        background: rgba(0, 0, 0, 0.224);
        font-family: var(--fontsb);
        color: var(--gold);
        width: 100%;
        margin-top: 0.25em;
        padding: 0.15em 0.5em;
        display: block;
      }
    }
    .center {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 100px 0;
      position: relative;

      @media screen and (max-width: 420px) {
        margin-bottom: 0px;
      }
      @media screen and (max-width: 768px) {
        grid-area: c;
      }

      .stroke-moon {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
      .logo {
        width: 180px;
        @media screen and (max-width: 380px) {
          width: 100%;
        }
      }
      .logo-text {
        height: 40px;
        margin: 0.25em;
        @media screen and (max-width: 420px) {
          width: 100%;
        }
      }
      .attribution {
        font-weight: bold;
        margin: 0.25em;
      }

      .contacts {
        display: flex;
        gap: 2em;
        margin: 1em;
        .footer-contact {
          border: 3px;
          width: 40px;
          height: 40px;
          border: 3px solid var(--gold);
          padding: 0.5em;
          rotate: 45deg;
          &:hover {
            background: var(--gold);
            scale: 1.2;
            svg {
              color: var(--black);
            }
          }
          span {
            display: block;
            rotate: -45deg;
          }
          svg {
            width: 100%;
            height: 100%;
            color: var(--gold);
          }
        }
      }
    }
    .right {
      margin-bottom: 2em;
      @media screen and (max-width: 768px) {
        grid-area: r;
      }
      nav {
        display: flex;
        flex-direction: column;

        .btn-navfot {
          color: var(--blue);
          font-family: var(--fontsb);
          transform-origin: left;
        }
      }
    }
  }
}
