#page_artists {
  // min-height: 15000px;
  #artist-heading {
    display: flex;
    position: relative;

    padding-top: 100px;

    .border {
      position: absolute;
      height: 300px;
      top: 80px;
      &.l {
        left: -200px;
      }
      &.r {
        right: -200px;
      }
    }
    .confine {
      max-width: min(1100px, 90%);
      margin: 0 auto;
      display: grid;
      grid-template-columns: 2fr 1.2fr;
      @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
      }
      gap: 0em;
      align-items: center;
      article {
        .p {
          margin: 1em 0;
        }
      }
      figure {
        display: grid;
        // grid-template-columns: 1fr 1fr;
        gap: 2em;
        position: relative;
        .splat {
          position: absolute;
          height: 100%;
          z-index: -1;
          scale: 1.5;
          clip-path: initial;
          opacity: 0.3;
          object-fit: contain;
        }
        img {
          width: 100%;
          height: 400px;
          scale: 1;
          // background: red;
          object-fit: contain;
          @media screen and (max-width: 420px) {
            height: 400px;
          }
        }
      }
    }
  }

  #artist-list {
    padding: 100px 0;
    min-height: 150vh;
    .control {
      display: flex;
      margin: 1em 0;
      justify-content: center;
      flex-wrap: wrap;
      gap: 1em;
      .btn-main {
        text-transform: uppercase;
      }
      @media screen and (max-width: 550px) {
        padding: 0 1em;
        .btn-main {
          width: 100%;
        }
      }
    }

    #at-list {
      display: flex;
      flex-direction: column;
      gap: 100px;
      .artist-container {
        overflow: hidden;
        .de-splat {
          position: absolute;
          width: 100%;
          height: 500px;

          &.t {
            top: -220px;
            left: 150px;
          }
          &.b {
            bottom: -180px;
            left: -150px;
            scale: -1;
            rotate: -2deg;
          }
        }
        &:nth-of-type(even) {
          .splash-bg {
            rotate: -3deg;
          }
          .confine {
            display: grid;
            grid-template-columns: 1fr 500px;

            @media screen and (max-width: 768px) {
              display: flex;
              flex-direction: column-reverse;
            }
            figure {
              margin-left: 0;
              @media screen and (min-width: 768px) {
                margin-right: 80px;
              }
              .contacts {
                // background: green;
                left: initial;
                right: -15%;
              }
            }
          }
        }
        position: relative;
        .splash-bg {
          content: "";
          position: absolute;
          top: 0%;
          left: 0%;
          width: 100%;
          height: 100%;
          user-select: none;
          pointer-events: none;
          z-index: -1;
          background: var(--lBlue);
          scale: 1.1 0.7;
          rotate: 3deg;
        }
        .confine {
          margin: 0 auto;
          max-width: 1200px;
          position: relative;
          display: grid;
          grid-template-columns: 500px 1fr;
          gap: 3em;

          @media screen and (max-width: 768px) {
            display: flex;
            flex-direction: column;
          }
          figure {
            @media screen and (min-width: 768px) {
              margin-left: 80px;
            }
            .at-img {
              width: 100%;
              height: 800px;
              object-fit: contain;
              @media screen and (max-width: 768px) {
                height: 400px;
              }
            }
            position: relative;
            .contacts {
              @media screen and (min-width: 768px) {
                display: flex;
                flex-direction: column;
                position: absolute;
                width: 70px;
                // background: red;
                z-index: 1;
                left: -20%;
                top: 10%;
                align-items: center;
                gap: 2em;
              }

              .line {
                width: 2px;
                background: var(--black);
                height: 150px;
              }

              .btn-contact {
                width: 50px;
                height: 50px;
                border: 3px solid var(--black);
                color: var(--black);
                padding: 0.5em;
                rotate: 45deg;

                &:hover {
                  background: var(--black);
                  color: white;
                }
                span {
                  display: block;
                  width: 100%;
                  height: 100%;
                  rotate: -45deg;
                }
                svg {
                  width: 100%;
                  height: 100%;
                }
              }

              @media screen and (max-width: 768px) {
                display: flex;
                align-items: center;
                align-content: center;
                justify-content: center;
                gap: 2em;
                .line {
                  width: 100%;
                  height: 5px;
                }
                .btn-contact {
                  display: block;
                  width: 50px;
                  flex-shrink: 0;
                  height: 50px;
                  // rotate: 0deg;
                }
              }
              @media screen and (min-width: 768px) {
                .line.s {
                  display: none;
                }
              }
            }
          }
          .artist-info {
            padding-top: 100px;

            @media screen and (max-width: 768px) {
              padding-top: 0px;
            }
            .artist-data {
              max-width: 100%;
              @media screen and (max-width: 768px) {
                max-width: 90%;
                margin: 0 auto;
                text-align: center;
              }
              .sh {
                text-transform: uppercase;
              }
              .h {
                text-transform: uppercase;
              }
              .p {
                margin: 1em 0;
              }
            }

            .portfolio {
              @media screen and (min-width: 768px) {
                display: flex;
                // flex: 1;
                gap: 0.5em;
                margin: 1em 0;
                height: 380px;
                width: 100%;

                .p-img {
                  // max-width: 50%;
                  transition: all 3000ms var(--mainEase);
                  height: 100%;
                  min-width: 0%;
                  width: 100%;
                  object-fit: cover;
                  cursor: pointer;
                }

                &:hover,
                &:active,
                &:focus-within {
                  gap: 0;
                  .p-img:not(:hover) {
                    width: 5%;
                    transition: all 1000ms var(--mainEase);
                    filter: brightness(50%);
                  }
                  .p-img:hover,
                  .p-img:active,
                  .p-img:active,
                  .p-img:focus-within {
                    transition: all 1000ms var(--mainEase);
                    width: 100%;
                  }
                }
              }
              @media screen and (max-width: 768px) {
                display: grid;
                grid-template-columns: 1fr 1fr;
                .p-img {
                  width: 100%;
                  object-fit: cover;
                  height: 200px;
                }
              }

              @media screen and (max-width: 420px) {
                grid-template-columns: 1fr;
              }
            }
          }
        }
      }
    }
  }

  #fs-displayer {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.594);
    z-index: 100;
    top: 0%;
    left: 0%;
    opacity: 0.5;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
    .main-display {
      width: 90vw;
      height: 90vh;

      object-fit: contain;
    }
    video {
      aspect-ratio: 16/9;
    }
    transition: all 500ms ease-in-out;
    &.open {
      opacity: 1;
      user-select: all;
      pointer-events: all;
    }
    &.closed {
      user-select: none;
      pointer-events: none;
      opacity: 0;
    }
  }
}
