#header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100vw;
  margin-bottom: 100px;
  gap: 0.45em;
  z-index: 20;
  overflow-x: clip;
  position: relative;
  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .header-cloud {
    position: absolute;
    left: -5%;
    z-index: -2;
    top: -10%;

    &.r {
      scale: -1;
      left: initial;
      right: -2%;
    }

    @media screen and (max-width: 1280px) {
      left: -200px;
      top: -100px;
      scale: 0.8;

      &.r {
        scale: -0.8;
        left: initial;
        right: -100px;
        top: -100px;
      }
    }
  }
  .header-branch {
    position: absolute;
    left: -2%;
    top: -2%;
    z-index: -2;
    width: 250px;
    animation: rotate-branch 11s alternate-reverse infinite ease-in-out;
    transform-origin: left;

    @keyframes rotate-branch {
      from {
        rotate: 20deg;
      }
      to {
        rotate: 0deg;
      }
    }
    &.r {
      scale: -1 1;
      left: initial;
      transform-origin: left bottom;
      left: 105%;
      top: -5%;
      animation-name: rotate-branch-two;
      animation-duration: 13s;
      @keyframes rotate-branch-two {
        from {
          rotate: -10deg;
        }
        to {
          rotate: -25deg;
        }
      }
    }

    @media screen and (max-width: 1280px) {
      width: 150px;
      top: -25%;

      &.r {
        top: -40%;
      }
    }
  }
  .header-splat {
    position: absolute;
    width: 35%;
    height: 100%;
    transform: translateX(-5%) translateY(2%);
    object-fit: contain;
    rotate: -180deg;
    object-position: 50%;
    opacity: 0.3;
  }

  @media screen and (max-width: 768px) {
    .header-branch {
      opacity: 0.05;
    }
    .header-cloud {
      opacity: 0.3;
    }
    .logo {
      margin: -10px -30px;
    }
  }

  @media screen and (max-width: 420px) {
    .logo {
      max-width: 70%;
      margin: 0px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  nav {
    display: flex;
    gap: 1em;

    @media screen and (max-width: 1024px) {
      gap: 0.5em;
    }

    @media screen and (min-width: 768px) {
      .btn-menu {
        display: none;
      }
    }
    @media screen and (max-width: 768px) {
      .btn-headernav:not(.btn-menu) {
        display: none;
      }
    }

    .btn-headernav {
      text-transform: uppercase;
      color: var(--black);
      text-shadow: 0px 0px 5px #ffe3646e;
      font-family: var(--fontr);
      letter-spacing: 2px;
      font-weight: 500;
      font-size: 1.2rem;
      position: relative;
      transform-origin: bottom;
      text-align: center;
      margin: 0 1em;

      @media screen and (max-width: 1024px) {
        font-size: 1rem;
      }

      &::before {
        width: 100%;
        height: 100%;
        content: "";
        position: absolute;
        top: 10%;
        left: 0%;
        scale: 0 1;
        border-bottom: 3px solid var(--blue);
        transition: all 500ms cubic-bezier(0.33, 1, 0.68, 1);
      }
      &.active,
      &:hover {
        color: var(--blue);
        text-shadow: 0px 0px 4px #8ac7ed39;
        // border-bottom: 4px solid var(--blue);
        scale: 1.36;
        // font-weight: 600;
        // letter-spacing: 0px;
        &::before {
          scale: 0.45 1;
          // scale: 0.2 1;
        }
      }
    }
    .hasdrop {
      display: flex;
      align-items: center;
      .btn-headernav {
        width: 100%;
        height: 100%;
        display: block;
        z-index: 20;
        position: relative;
      }
      width: 100%;
      position: relative;
      .drop-down {
        // display: none;
        position: absolute;
        width: 180px;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 0.4em;
        transition: all 500ms ease;
        opacity: 0;
        top: 100%;
        left: 50%;
        transform: translateX(-50%) translateY(-20%);
        z-index: 10;
        .btn-drop {
          font-weight: lighter;
          background: #e5f2fb;
          opacity: 1;
          transform: translateY(-200%);
          font-size: 1rem;
          font-family: var(--fontr);
          letter-spacing: 0px;
          padding: 0.25em 0.5em;
          // box-shadow: 0px 0px 4px rgba(146, 161, 239, 0.216);
          text-align: center;
          text-transform: uppercase;

          font-size: 1.2rem;
          &:nth-child(2) {
            transition-delay: 50ms;
          }
          &:hover {
            transition-delay: 0;
            opacity: 1;
            background: var(--grey);
            color: white;
          }
        }
      }
      &:hover {
        .drop-down {
          // display: block;
          transform: translateX(-50%) translateY(0%);
          opacity: 1;
          .btn-drop {
            transform: translateY(0%);
          }
        }
        .btn-headernav {
          color: var(--blue);
          text-shadow: 0px 0px 4px #8ac7ed39;
          // border-bottom: 4px solid var(--blue);
          scale: 1.36;
          // font-weight: 600;
          // letter-spacing: 0px;
          &::before {
            scale: 0.45 1;
            // scale: 0.2 1;
          }
        }
      }
    }
    .btn-menu {
      transform: translateY(15%);
      &:hover {
        scale: 1;
      }
      svg {
        width: 40px;
        height: 40px;
      }
    }
  }
}
#fs-nav {
  position: fixed;
  height: 100dvh;
  width: 100dvw;
  top: 0%;
  left: 0%;
  background: rgba(11, 58, 82, 0.822);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5000;
  flex-direction: column;
  overflow: clip;
  gap: 0.2em;
  transition: opacity 500ms ease;
  &.visible {
    opacity: 1;
  }
  &.hidden {
    opacity: 0;
    user-select: none;
    pointer-events: none;
  }
  .btn-headernav {
    background: var(--black);
    color: var(--blue);
    width: 100%;
    font-family: var(--fontsb);
    padding: 0.2em 1em;
    font-size: 2.3rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
  }
}
