#page_contact {
  .loader {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(13, 45, 86, 0.615);

    top: 0%;
    left: 0%;
    z-index: 100;
    backdrop-filter: blur(5px);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 1.5rem;
    svg {
      @keyframes speen {
        from {
          rotate: 0deg;
        }
        to {
          rotate: 360deg;
        }
      }
      animation: speen 2s infinite ease-in-out;
      scale: 1.2;
    }
    p {
      color: white;
    }

    transition: all 1500ms ease;

    &.loaded {
      opacity: 0;
      user-select: none;
      pointer-events: none;
      transition-delay: 500ms;
    }
  }
  #contact {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 5em;
    margin-bottom: 500px;
    .de-cloud {
      position: absolute;
      right: -5%;
      top: 50%;
      rotate: -55deg;
      scale: 1.6;
      opacity: 0.6;
      z-index: -2;
    }
    article {
      .heading {
        margin: 2em 0;
        position: relative;
        .de-moon {
          position: absolute;
          left: 10%;
          top: -150px;
          scale: 0.9;
          z-index: -2;
        }
      }
      .p {
        margin: 1em 0;
      }
      .email {
        color: var(--lGrey);
        font-family: var(--fontsb);
        // font-weight: bold;
        font-size: 1rem;
      }

      .infos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 3em 0;
        .info {
          h2 {
            font-size: 0.9rem;
            font-family: var(--fontP);
            font-weight: normal;
            opacity: 0.8;
            color: var(--lGrey);
          }
          p {
            font-size: 0.9rem;
            font-weight: bold;
          }
        }
      }

      .contacts {
        margin-top: 100px;
        display: flex;
        gap: 1.5em;
        padding: 1em;
        margin-left: -1em;
        .btn-contact {
          width: 40px;
          height: 40px;
          border: 3px solid var(--altBlue);
          color: var(--altBlue);
          padding: 0.4em;
          rotate: 45deg;
          &:hover {
            background: var(--altBlue);
            color: white;
            scale: 1.05;
          }
          span {
            display: block;
            rotate: -45deg;
            width: 100%;
            height: 100%;
          }
          svg {
            width: 100%;
            height: 100%;
          }
        }
      }
      .alt-text {
        // text-align: center;
        color: var(--altBlue);
        font-weight: bold;
        margin: 1em 0;
      }

      .btn-main {
        font-family: var(--fontsb);
        display: flex;
        align-items: center;
        gap: 1em;
      }
    }
    .message-form {
      .form-field {
        display: flex;
        flex-direction: column;
        // margin: 1em 0;
        padding: 1em 0.3em;
        label {
          font-family: var(--fontsb);
          text-transform: uppercase;
          color: #4a5766;
          font-weight: bold;
          margin: 0.25em 0;
          font-size: 1.2rem;
        }

        input,
        textarea {
          // padding: 0.15em 0.5em;
          padding: 1em;
          font-family: var(--fontP);
          font-weight: normal;
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.165);
          outline: none;
          font-size: 1.1rem;
          color: var(--grey);
          &::placeholder {
            opacity: 0.2;
          }
          background: #f7f7f8;
          border: none;
          border-bottom: 4px solid var(--gold);
        }

        textarea {
          resize: none;
          height: 300px;
        }
      }
      .form-action {
        display: flex;
        justify-content: space-between;
        gap: 1em;
        .p {
          font-size: 0.8rem;
          a {
            font-weight: bold;
          }
        }

        .btn-main {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          gap: 1em;
          min-width: 30%;
          padding-right: 1em;
        }
      }
    }
  }
  .particle-container {
    position: relative;
    top: -600px;
    z-index: -10;
    filter: blur(4px);
    canvas {
      mask-image: linear-gradient(to top, transparent, white 40%, transparent);
    }
  }
}
