#page_portfolio {
  // overflow-y: hidden;
  max-height: 100vh;
  #portfolio-display {
    width: 100%;
    height: 100%;
    // background: red;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 410px 1fr;
    @media screen and (max-width: 768px) {
      // display: flex;
      grid-template-columns: 1fr;
    }
    #sidebar {
      background: linear-gradient(to top, #0e81a5, #283f58);
      padding: 1em;
      box-shadow: 0px 10px 20px rgba(84, 153, 222, 0.562);
      padding: 4em;
      @media screen and (max-width: 420px) {
        padding: 1em;
        max-width: 100%;
        width: 100vw;
        overflow: clip;
      }
      position: relative;
      z-index: 100;

      .close-btn {
        background: var(--black);
        color: white;
        width: 50px;
        height: 50px;
        padding: 0.5em;
        position: absolute;
        left: 100%;
        svg {
          width: 100%;
          height: 100%;
        }
        .close {
          display: block;
        }
        .open {
          display: none;
        }
        &.closed {
          .close {
            display: none;
          }
          .open {
            display: block;
          }
        }
      }

      @media screen and (min-width: 768px) {
        .close-btn {
          display: none;
        }
      }
      .frame-edge {
        position: absolute;
        top: 0%;
        left: 0%;
        width: 110px;
        height: 110px;
        object-fit: contain;
        object-position: top;
      }

      .cloud-edge {
        position: absolute;
        bottom: 0%;
        left: 0%;
        width: 150px;
        height: 150px;
        object-fit: contain;
        object-position: bottom;
        z-index: -1;
        @media screen and (max-width: 420px) {
          bottom: -10%;
        }
      }
      .corner-top {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 55px;
        height: 55px;
        border-top: 4px solid var(--gold);
        border-right: 4px solid var(--gold);
      }
      .top {
        position: relative;
        .de-moon {
          position: absolute;
          top: 0%;
          left: 20%;
          width: 100%;
          scale: 1.4;
          object-fit: contain;
          z-index: -1;
        }
      }

      .side-action {
        display: flex;
        flex-direction: column;
        margin: 1em 0;
        .back-btn {
          font-family: var(--fontP);
          display: flex;
          color: var(--gold);
          align-items: center;
          font-weight: bold;
          gap: 1em;
          transform-origin: left;
        }
      }
      .heading {
        position: relative;
        // .de-moon {
        //   height: 100%;
        //   width: 100%;
        //   top: 0%;
        //   position: absolute;
        //   object-fit: contain;
        // }
        .sh {
          // color: white;
        }
        .h {
          color: white;
        }
        .p {
          color: white;
          margin: 1em 0;
        }
      }
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .categories {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        // margin-top: 5em;
        gap: 0.5em;
        margin-bottom: 4em;
        .btn-cat {
          width: 100%;
          text-align: left;
          font-family: var(--fontsb);
          font-size: 1.2rem;
          background: #ffffff7b;
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.369);
          color: #23292b96;
          padding: 0.25em 1em;
          &.selected {
            background: var(--black);
            border: 2px solid var(--gold);
            color: var(--gold);
          }
        }
      }
      .logo {
        width: 100%;
        max-width: 120px;
        margin: 1em 0;
      }
    }

    .portfolio-items {
      @media screen and (max-width: 768px) {
        min-height: 900px;
      }

      .lists {
        // height: 90vh;
        height: 100%;
        padding: 2em;
        // background: green;
        @media screen and (min-width: 768px) {
          width: calc(100vw - 300px);
        }
        @media screen and (max-width: 768px) {
          width: 100vw;
          overflow-x: scroll;
        }

        display: flex;
        white-space: nowrap;
        overflow-x: auto;
        gap: 2em;
        padding-right: 50vh;
        .row {
          flex-shrink: 0;
          display: flex;
          flex-direction: column;
          width: 720px;
          gap: 1.5em;
          @media screen and (max-width: 768px) {
            width: 400px;
          }
          @media screen and (max-width: 420px) {
            width: 80vw;
          }
          .pitems {
            width: 100%;
            height: 405px;
            transition: all 450ms var(--mainEase);
            @media screen and (max-width: 420px) {
              height: 200px;
            }
            cursor: pointer;
            &:hover {
              scale: 1.05;
            }
            &:active {
              scale: 0.96;
            }
            &::before {
              content: "";
              position: absolute;
              top: 0%;
              left: 0%;
              width: 100%;
              height: 100%;
              z-index: 10;
              // background: red;
              user-select: none;
              pointer-events: none;

              box-shadow: inset 0px 0px 40px 20px #283f58;
            }
            position: relative;
            .main-pt {
              width: 100%;
              position: relative;
              z-index: 1;
              object-fit: cover;
              height: 100%;
              box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.193);
            }
            video.main-pt {
              z-index: 10;
            }
          }
        }
      }
    }
    .controls {
      display: flex;
      justify-content: flex-end;
      gap: 1em;
      position: fixed;
      bottom: 3%;
      right: 5%;
      z-index: 20;
      .btn-main {
        display: flex;
        padding: 0.25em 1em;
        box-sizing: 0px 0px 4px var(--black);
      }
    }
  }

  #fs-gallery {
    position: fixed;
    background: rgba(7, 19, 33, 0.675);
    height: 100vh;
    width: 100vw;
    z-index: 100;
    backdrop-filter: blur(5px);
    transition: all 1500ms var(--mainEase);
    display: flex;
    align-items: center;
    justify-content: center;
    .art-part {
      width: 90vw;
      height: 90vh;
      display: flex;
      justify-content: center;
      align-items: center;
      // background: red;
      .main-pt {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &.close {
      opacity: 0;
      user-select: none;
      pointer-events: none;
    }
  }
}
