#page_home {
  // min-height: 15000px;
  #hero-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
    overflow-x: clip;
    @media screen and (max-width: 1440px) {
      // display: gr;
      grid-template-columns: 1.5fr 2fr;
    }
    @media screen and (max-width: 1024px) {
      grid-template-columns: 1fr;
    }
    .title-group {
      .top-part {
        display: flex;
        flex-direction: column;
        gap: 1em;
        margin-left: 150px;
        padding-right: 50px;
        padding-top: 2em;

        @media screen and (max-width: 420px) {
          text-align: center;
          justify-content: center;
          .sh,
          .p,
          .hm {
            width: 100%;
            max-width: 100%;
          }
          margin-left: 0;
          padding-right: 0;
          padding-inline: 1em;
        }
        @media screen and (max-width: 1440px) {
          margin-left: 5%;
        }

        .sh {
          font-size: 2rem;
        }

        .p {
          margin: 1em 0;
        }

        @media screen and (max-width: 550px) {
          .sh {
            font-size: 2rem;
          }

          .hm {
            font-size: 2.5rem;
            line-height: 0.8;
          }
        }
      }
      .image-part {
        // max-width: 100%;
        width: 100%;
        height: 380px;
        margin-top: 100px;
        position: relative;
        .main-img {
          position: relative;
          z-index: -5;
          object-fit: cover;
          width: 100%;
          height: 100%;
          object-position: center;

          @media screen and (max-width: 1440px) {
            object-fit: 1600px;
          }
        }
        .overlay {
          position: absolute;
          top: 0%;
          left: 0%;
          width: 100%;
          height: 100%;
          user-select: none;
          pointer-events: none;
        }
        &::before {
          content: "";
          position: absolute;
          top: 0%;
          left: -10%;
          width: 110%;
          height: 100%;
          outline: 5px solid var(--gold);
          outline-offset: -20px;
          z-index: 2;
          user-select: none;
          pointer-events: none;
        }
      }
      .sh {
        // font-size: 2rem;
      }
      .h {
        // font-size: 3rem;
      }
      p {
        max-width: 80%;
      }
    }
    figure {
      display: flex;
      justify-content: flex-end;
      margin-left: -10px;
      position: relative;
      max-height: 500px;
      z-index: 1;
      .main-img {
        position: relative;
        z-index: -20;
        object-position: 0px -150px;
      }

      .overlay {
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
      }
      .grey-cloud {
        position: absolute;
        top: 80%;
        right: 0%;
        z-index: -2;
      }
      &::before {
        content: "";
        position: absolute;
        top: 0%;
        left: 0%;
        width: 110%;
        height: 100%;
        outline: 5px solid var(--gold);
        outline-offset: -20px;
        z-index: 2;
        user-select: none;
        pointer-events: none;
      }

      outline-offset: -15px;
      .l {
        width: 100%;

        object-fit: cover;
      }
    }
    .action {
      display: flex;
      gap: 1em;
      @media screen and (max-width: 420px) {
        justify-content: center;
        flex-wrap: wrap;
      }
    }
    padding-bottom: 250px;
  }

  #welcome {
    #intro-text {
      h2 {
        text-align: center;
        font-size: 4rem;
        font-family: var(--fontr);
        font-weight: 400;
        color: var(--grey);

        @media screen and (max-width: 768px) {
          font-size: 3rem;
          // margin: 0;
          line-height: 0.8;
        }

        @media screen and (max-width: 550px) {
          font-size: 2rem;
          text-align: left;
          padding: 0.5em;
          font-weight: bold;
          font-family: var(--fontb);
          margin: 0;
          span {
            font-size: 3rem;
            display: block;
            font-weight: normal;

            color: transparent;
            background-clip: text;
            -webkit-text-stroke: 2px #062e48;
          }
        }
        span {
          font-family: var(--fontb);
        }
      }
    }
    #about {
      background: url("/bg/paper_dark.png"), var(--black);
      background-blend-mode: multiply;
      min-height: 500px;
      display: grid;
      grid-template-columns: 1fr 1100px 1fr;
      gap: 100px;
      align-items: center;
      margin-top: 20px;
      padding: 1em 0;
      padding-top: 1em;

      @media screen and (max-width: 550px) {
        margin-top: 0px;
        padding-top: 0;
        min-height: unset;
      }

      @media screen and (max-width: 1440px) {
        grid-template-columns: 1fr 900px 1fr;
        gap: 20px;
      }
      @media screen and (max-width: 1024px) {
        gap: 0px;
      }

      @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
      }
      .center {
        // background: red;
        height: 100%;
        margin: 1em;
        scale: 1;
        position: relative;
        padding: 100px;
        padding-bottom: 20px;
        padding-inline: 120px;

        @media screen and (max-width: 550px) {
          padding: 100px;
          padding-inline: 50px;
          margin: 0.2em;
        }
        &::before {
          content: "";
          position: absolute;
          top: 0%;
          left: 0%;
          width: 100%;
          height: 100%;
          border: 150px inset;
          box-sizing: border-box;
          border-image: url("/de/frame-border-thick.png") 33%;
          // background: green;
          user-select: none;
          scale: 0.95;

          pointer-events: none;

          @media screen and (max-width: 550px) {
            border-image-slice: 49%;
          }
        }

        .de-center-splat {
          position: absolute;
          width: 100%;
          height: 100%;
          rotate: 15deg;
          z-index: -1;
          user-select: none;
          pointer-events: none;
        }
        .top-art {
          display: grid;
          grid-template-columns: 1.4fr 1fr;
          gap: 2em;
          @media screen and (max-width: 1024px) {
            grid-template-columns: 1fr;
          }
          img {
            width: 100%;
            height: 200px;
            object-fit: cover;

            @media screen and (max-width: 1024px) {
              &:nth-of-type(1) {
                display: none;
              }
            }
          }
        }
        .about-text {
          padding-top: 2em;

          .sh {
            // margin: 1em 0;
            // padding: 1em 0;
          }
          .text {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: flex-end;
            margin-bottom: 4em;
            gap: 150px;

            @media screen and (max-width: 1024px) {
              display: block;
              margin-bottom: 5em;
            }
            p {
              color: var(--white);
              margin: 1em 0;
            }
          }
        }
      }
      .artside {
        height: 80%;
        max-width: 100%;
        position: relative;

        @media screen and (max-width: 768px) {
          height: 150px;
          object-fit: cover;
          width: 100%;
          img {
            object-position: 90% 30%;
          }
          .clip {
            display: none;
          }
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        .clip {
          background: var(--black);
        }
        overflow: hidden;
        @media screen and (max-width: 768px) {
          &.art-l {
            // border-radius: 0 1em 1em 0;
            display: none;
          }
        }
      }
    }
  }
  #vision {
    min-height: 500px;

    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;

    --bg: url("/gfx/placeholder3.png");
    .de-splat {
      position: absolute;
      @media screen and (max-width: 550px) {
        scale: 0.7;
        opacity: 0.3;
      }
      &.l {
        left: -80px;
        top: 0%;
        width: 250px;

        @media screen and (max-width: 768px) {
          left: initial;
          right: -90px;
          top: -20%;
          scale: -1;
        }
      }

      &.r {
        right: 0%;
        bottom: -45%;
      }
    }
    &::after {
      content: "";
      position: absolute;
      top: -1px;
      left: 35%;
      width: 65%;
      height: 100%;
      background: var(--bg);
      // background-size: contain;
      background-attachment: fixed;
      background-size: 72%;
      background-position: right;
      @media screen and (max-width: 1024px) {
        background-size: 90%;
      }
      @media screen and (max-width: 550px) {
        left: 0%;
        width: 100%;
        background-size: cover;
        background-position: center;
      }
      z-index: -2;
    }
    &::before {
      content: "";
      position: absolute;
      top: -1px;
      left: 0%;
      width: 100%;
      height: 100%;
      background: linear-gradient(to top, #0e81a5, #283f58);

      mask-image: linear-gradient(to right, white 35%, transparent 200%);

      @media screen and (max-width: 420px) {
        mask-image: linear-gradient(220deg, white 35%, transparent 200%);
      }
    }
    article {
      max-width: min(1200px, 90%);
      margin: 0 auto;
      display: grid;
      position: relative;
      z-index: 10;
      grid-template-columns: 1fr 100px;
      filter: drop-shadow(0px 0px 2px var(--black));
      align-items: center;

      @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
      }
      @media screen and (max-width: 550px) {
        padding: 3em 0;
      }
      .icon {
        height: 80px;
      }
      .h {
        color: white;
        font-family: var(--fontsb);
        font-style: italic;
        font-weight: 200;
        font-size: 4.2rem;

        @media screen and (max-width: 550px) {
          font-size: 3rem;
        }
        @media screen and (max-width: 420px) {
          padding: 0.25em;
          font-size: 2.5rem;
        }
        strong {
          font-family: var(--fontb);
          display: inline-block;
          position: relative;
          &::before {
            content: "";
            position: absolute;
            bottom: -10px;
            left: -20%;
            width: 100%;
            height: 3px;
            background: white;
          }
        }
      }

      .btn-main {
        color: white;
        border-color: white;
        transform-origin: left;
        // background: white;
        &::before {
          background: white;
        }
        &:hover {
          color: var(--black);
        }
      }
      p {
        margin: 2em 0;
        color: white;
        max-width: 60%;

        @media screen and (max-width: 420px) {
          max-width: 100%;
        }
      }
    }
  }

  #featured-artist {
    padding-top: 200px;
    padding-bottom: 200px;
    overflow: hidden;
    position: relative;
    .cloud {
      position: absolute;
      &.l {
        left: -100px;
        top: -10%;
        width: 450px;
      }
      &.r {
        right: -50px;
        width: 450px;
        bottom: -15%;
        rotate: -35deg;
      }
    }
    // &:hover {
    //   figure .art-part {
    //     scale: 1.2;
    //     transform: translateY(12%);
    //   }
    // }
    figure {
      max-width: 1100px;
      margin: 0 auto;
      margin-bottom: -350px;
      position: relative;
      z-index: 10;

      @media screen and (max-width: 768px) {
        margin-bottom: auto;
      }
      .art-part {
        display: grid;
        grid-template-columns: 1fr 1fr;
        overflow: hidden;
        transition: all 500ms var(--mainEase);

        @media screen and (max-width: 768px) {
          display: block;
        }
        .splat {
          position: absolute;
          width: 300px;
          object-fit: contain;
          &.l {
            right: -100px;
            top: -190px;
          }
          &.r {
            bottom: -180px;
            left: -150px;
            rotate: 10deg;
            scale: 1.1;
          }
        }
        .left {
          border: 14px solid white;
          border-radius: 5em 0 5em 0;
          overflow: hidden;
          position: relative;
          &::before {
            box-shadow: inset 10px 0px 120px 30px #062e48;
            content: "";
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
          }
        }
        img {
          width: 100%;
          height: 400px;
          object-fit: cover;
        }
      }
    }

    article {
      max-width: 1000px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 2fr;
      z-index: -2;

      @media screen and (max-width: 768px) {
        display: block;
      }
      .whiteflower {
        position: absolute;
        bottom: 0%;
        right: 0%;
        width: 100px;
      }
      .content {
        background: url("/bg/paper_dark.png"), var(--lGrey);
        background-blend-mode: multiply;
        padding-left: 240px;
        padding-top: 50px;
        padding-right: 80px;
        border-radius: 0 0 0 5em;
        position: relative;

        @media screen and (max-width: 1024px) {
          padding-left: 180px;
        }

        @media screen and (max-width: 768px) {
          padding: 2em;
          padding-bottom: 100px;
          border-radius: 0;
        }
        .sh {
          font-size: 1.5rem;
        }
        .h {
          color: white;
          font-family: var(--fontsb);
          margin: 0.2em 0;
          font-size: 2.5rem;
        }
        .p p {
          color: white;
          margin: 2em 0;
          font-size: 1rem;
          line-height: 1.4;
        }
      }
      height: 400px;
    }
  }

  #featured-projects {
    .banner {
      height: 400px;
      background: url("/gfx/placeholder2.png");
      background-size: cover;
      background-position: center;
      position: relative;
      overflow: hidden;

      @media screen and (max-width: 768px) {
        height: 250px;
      }
    }
    .de-splat {
      position: absolute;
      right: -10%;
      width: 750px;
      bottom: -250px;

      @media screen and (max-width: 768px) {
        scale: 0.8;
      }
    }
    .heading {
      max-width: 1200px;
      margin: 4em auto;
      position: relative;
      .bg-cloud {
        position: absolute;
        height: 700px;
        right: 0%;
        top: -150px;
      }
    }
    .text-part {
      max-width: 50%;

      @media screen and (max-width: 768px) {
        width: 100%;
        max-width: unset;
        padding: 0 1em;
      }
      .p {
        margin: 1em 0;
      }
    }

    .scroller {
      width: 100%;

      // background: red;
      gap: 1em;
      height: 550px;
      width: 100%;
      position: relative;
      max-width: 1500px;
      margin: 0 auto;
      mask-image: linear-gradient(
        to right,
        transparent,
        white 5%,
        white 95%,
        transparent
      );
      white-space: nowrap;
      display: flex;
      @media screen and (max-width: 550px) {
        height: 320px;
      }
      .slider {
        padding-top: 500px;
        height: 100%;
        display: flex;
        // width: 100%;
        @media screen and (min-width: 550px) {
          gap: 3em;
        }
        transform: translateX(-120%);
        overflow-x: visible;
        white-space: nowrap;
        padding-block: 25px;
        img,
        video {
          height: 100%;
          width: auto;
          // &.landscape {
          //   width: 887.78px;
          // }
          @media screen and (max-width: 550px) {
            width: 200px;
            height: 300px;
          }
          object-fit: cover;
          transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
          &:hover {
            scale: 1.1;
          }
        }

        video {
          width: 887.78px;
          background: var(--white);
          object-fit: contain;
          &:hover {
            scale: 1;
          }
          @media screen and (max-width: 550px) {
            hegith: 300px;
            width: 533px;
          }
        }
      }
    }

    .scroller-container {
      position: relative;
      overflow: hidden;
      .container-splat {
        height: 800px;
        width: 1200px;
        position: absolute;
        margin: 0 auto;
        top: 0%;
        left: calc(50% - 600px);
        .splat {
          position: absolute;
          z-index: 1;
          &.l {
            left: -300px;
            top: -150px;
          }
          &.r {
            bottom: 150px;
            right: -300px;
          }
        }
      }
    }
  }
  #testimonials {
    padding-block: 200px;
    position: relative;

    .de-cloud {
      position: absolute;

      &.l {
        left: -80px;
        top: 0px;
        width: 400px;
        @media screen and (max-width: 550px) {
          left: -200px;
          scale: 0.45;
          transform-origin: top;
        }
      }
      &.r {
        right: -150px;
        rotate: -15deg;
        top: 0%;
        @media screen and (max-width: 550px) {
          right: -150px;
          scale: 0.45;
          transform-origin: top;
        }
      }
    }

    @media screen and (min-width: 1280px) {
      padding-top: 300px;
    }
    .confine {
      max-width: 1100px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 2fr 1fr;
      gap: 4em;

      @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column-reverse;
      }
      .tlist {
        height: 900px;
        // overflow-y: scroll;
        overflow: hidden;

        transform: translateY(-5%);
        mask-image: linear-gradient(
          to bottom,
          transparent,
          white 5%,
          white 95%,
          transparent
        );
        .slider {
          display: flex;
          flex-direction: column;
          gap: 50px;
        }
        .testimonial {
          background: url("/bg/paper_dark.png"), var(--lGrey);
          position: relative;
          background-blend-mode: multiply;
          padding: 1em;
          display: grid;
          grid-template-columns: 1fr 200px;
          padding-bottom: 0;

          @media screen and (max-width: 550px) {
            grid-template-columns: 1fr 80px;
          }
          @media screen and (max-width: 420px) {
            display: flex;
            flex-direction: column-reverse;
          }
          &::before {
            content: "";
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            border: 3px solid var(--gold);
            scale: 0.95;
            transform-origin: top;
            border-top: none;
            z-index: 2;
          }
          .details {
            width: 100%;
            padding: 1.5em;

            @media screen and (max-width: 420px) {
              padding: 0.25em;
              padding-bottom: 2em;
            }
            .text {
              display: flex;
              svg {
                width: 150px;
                @media screen and (max-width: 550px) {
                  width: 50px;
                  margin: -10px 0;
                }
              }

              @media screen and (max-width: 420px) {
                svg {
                  display: none;
                }
              }
              .word {
                padding-top: 0.25em;
                p {
                  color: var(--white);
                }
              }
            }
            .infos {
              // padding: 1em;
              text-align: right;
              margin: 2em 0;
              .title {
                color: white;
                font-size: 0.9rem;
              }
              .sh {
                font-size: 1.2rem;
              }
            }
            .word {
              color: var(--white);
              font-size: 0.9rem;
              padding-left: 2em;
              line-height: 1.4;
            }
          }
          .pfp {
            width: 100%;
            height: 100%;
            display: flex;
            // align-items: center;
            justify-content: center;
            img {
              width: 200px;
              height: 200px;

              @media screen and (max-width: 550px) {
                width: 90px;
                height: 90px;
                border-width: 5px;
                position: relative;
                right: 35px;
                top: -20px;
              }

              @media screen and (max-width: 420px) {
                width: 100%;
                height: 150px;
                border-radius: 0;
                right: unset;
                top: unset;
              }

              object-fit: cover;
              border: 10px solid white;
              transform: translateY(-30%);
              border-radius: 100%;
              box-sizing: border-box;
            }
          }

          .de-splat {
            position: absolute;
            width: 300px;
            right: 150px;
            bottom: -50px;
            opacity: 0.1;
            scale: 1.5;
            @media screen and (max-width: 550px) {
              scale: 1;
              bottom: -90px;
            }
          }
          .de-flower {
            position: absolute;
            right: 2%;
            bottom: 2%;
            max-height: 80px;
            @media screen and (max-width: 420px) {
              display: none;
            }
          }
          .clip {
            width: 40px;
            height: 40px;
          }
        }
      }

      article {
        height: 100%;
        // background: red;

        @media screen and (max-width: 768px) {
          padding: 0 1em;
          margin-top: 100px;
        }
        .text-part {
          position: sticky;
          top: 15%;

          .de-moon {
            position: absolute;
            top: -150px;
            left: 150px;
            scale: 0.8;

            @media screen and (max-width: 768px) {
              left: 0px;
            }
          }
          .h {
            line-height: 1;
          }
          .p {
            margin: 1em 0;
          }
        }
      }
    }
  }

  #invitation {
    position: relative;
    margin-top: 150px;
    .blue-branch {
      position: absolute;
      width: 350px;

      &.l {
        left: -50px;
        animation: branch-main-l 10s alternate-reverse infinite;
        transform-origin: left;

        @media screen and (max-width: 768px) {
          top: -200px;
        }
        @keyframes branch-main-l {
          from {
            rotate: 20deg;
          }
          to {
            rotate: 0deg;
          }
        }
      }
      &.r {
        scale: -1;
        right: -450px;
        top: 350px;
        animation: branch-main-l 15s alternate-reverse infinite;
        transform-origin: left;

        @media screen and (max-width: 768px) {
          top: unset;
          bottom: -20%;
        }
        @keyframes branch-main-l {
          from {
            rotate: 20deg;
          }
          to {
            rotate: 0deg;
          }
        }
      }
    }
    .bg {
      position: absolute;
      top: 0%;
      left: 0%;
      width: 120%;
      height: 100%;
      z-index: -2;
      background: var(--bg), #f3fbff;
      rotate: -3deg;
      filter: blur(4deg);
      opacity: 0.1 !important;
      object-fit: cover;
    }
    .confine {
      display: grid;
      grid-template-columns: 1fr 1fr;
      max-width: 1200px;
      margin: 0 auto;
      align-items: center;
      padding: 200px 0;

      @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1em;
        padding-block: 100px;
      }

      article {
        width: 100%;
        .h {
          color: var(--altBlue);
          font-family: var(--fontb);
          margin: 1em 0;
          text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.224);
          span {
            display: block;
            font-family: var(--fontsb);
          }
        }

        .action {
          display: flex;
          gap: 1em;
        }
      }
      figure {
        position: relative;

        .diamonds {
          display: flex;
          // gap: 0.5em;
          @media screen and (max-width: 550px) {
            margin-top: 100px;
            padding-bottom: 200px;
          }
          filter: drop-shadow(0 -4px 0 var(--gold)) /* Top */
            drop-shadow(4px 0 0 var(--gold)) /* Right */
            drop-shadow(0 4px 0 var(--gold)) /* Bottom */
            drop-shadow(-4px 0 0 var(--gold)); /* Left */
          .diamond {
            width: 180px;
            height: 180px;

            @media screen and (max-width: 550px) {
              width: 140px;
              height: 140px;
            }
            margin-inline: -20px;
            clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
            // outline-offset: -10px;
            position: relative;
            mask-image: none;
            &::before {
              content: "";
              position: absolute;
              z-index: -2;
              top: 0%;
              left: 0%;
              width: 100%;
              height: 100%;
              rotate: 45deg;
              scale: 0.6;
              border: 3px solid var(--grey);
              // background: red;
            }
            &:nth-of-type(odd) {
              transform: translateY(80px);
            }
            transition: all 500ms var(--mainEase);
            &:hover {
              scale: 1.1;
            }
            img {
              object-fit: cover;
              width: 100%;
              height: 100%;
            }
          }
        }
        .home-glasses {
          width: 100%;
          height: 300px;
          object-fit: contain;
        }
        .de-splat {
          position: absolute;
          top: 0%;
          left: 0%;
          z-index: -1;
        }
      }
    }
  }
}
