#page_commissions {
  // min-height: 15000px;

  #main-service {
    // height: 1500px;
    margin-top: -250px;
    background: rgba(245, 250, 253, 0.3);
    position: relative;
    top: -10%;
    padding-top: 320px;
    padding-bottom: 150px;
    .border {
      position: absolute;
      z-index: -10;

      // height: 500px;
      &.l {
        left: -800px;
      }
      &.r {
        right: -800px;

        @media screen and (max-width: 1024px) {
          top: 400px;
          filter: brightness(70%);
        }
        @media screen and (max-width: 550px) {
          opacity: 0.2;
        }
      }
    }
    .smoke-bg {
      z-index: -2;
      // background: red;
      position: absolute;
      top: 0%;
      left: 0%;
      filter: blur(2px) brightness(250%);
      width: 100%;
      object-fit: cover;
      height: 100%;
      opacity: 0.2;
      mix-blend-mode: color-burn;
      pointer-events: none;
    }

    .confine {
      max-width: min(90%, 1200px);
      margin: 0 auto;
    }

    .header {
      margin: 2em auto;
    }
    .steps {
      background: var(--lBlue);
      box-shadow: 0px 0px 25px rgba(11, 44, 77, 0.253);
      .confine {
        // display: flex;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 50px;
        padding: 1em 0;

        @media screen and (max-width: 768px) {
          display: flex;
          flex-direction: column;
        }
        .step {
          background: white;
          padding: 1.5em;
          position: relative;
          padding-bottom: 5em;
          // transition: all 300ms var(--mainEase);

          .de-flower {
            position: absolute;
            bottom: 0%;
            right: 0%;
            height: 80px;
            rotate: -20deg;
            transition: all 300ms var(--mainEase);
            opacity: 0.4;
          }
          &:hover {
            // transform: translateX(1%);
            .de-flower {
              opacity: 1;
            }
          }
          &:not(:last-of-type) {
            &::before {
              @media screen and (max-width: 768px) {
                display: none;
              }
              content: url("/de/arrow.svg");
              position: absolute;
              display: flex;
              align-items: center;
              justify-content: center;
              top: 30%;
              left: 100%;
              width: 50px;
              height: 50px;
              background: white;
            }
          }
          .clip {
            background-color: var(--lBlue);
            width: 30px;
            height: 30px;
          }

          h3 {
            margin-bottom: 0.5em;
          }
          p {
            color: #41556b;
          }
          ul {
            padding-left: 2em;
            font-family: var(--lBlue);
            display: flex;
            gap: 1em;
            flex-direction: column;
          }
          li {
            color: #41556b;
            font-family: var(--fontP);
          }
        }
      }
    }
    // --- Old Categories
    // .categories {
    //   max-width: 1000px;
    //   margin: 100px auto;
    //   display: grid;
    //   grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    //   gap: 10px;

    //   @media screen and (max-width: 768px) {
    //     grid-template-columns: repeat(2, 1fr);
    //   }
    //   @media screen and (max-width: 550px) {
    //     display: flex;
    //     flex-direction: column;
    //   }
    //   .category {
    //     padding: 1em;

    //     @media screen and (max-width: 550px) {
    //       display: flex;
    //       flex-direction: column;
    //       justify-content: center;
    //       align-items: center;
    //       text-align: center;
    //     }

    //     .h {
    //       background: none;
    //       border: none;
    //       padding: 0;
    //       // font-family: var);
    //       font-weight: bold;
    //       font-size: 2rem;
    //       margin: 0.5em 0;
    //       display: flex;
    //       &:hover {
    //         color: white;
    //         padding: 0.4em 0.4em;
    //         background: var(--grey);
    //       }
    //     }
    //   }
    //   .icon {
    //     width: 110px;
    //     height: 110px;
    //     background: var(--lBlue);
    //     border-radius: 50%;
    //     padding: 1.5em;
    //     box-shadow: 0px 0px 10px rgba(11, 44, 77, 0.614);
    //     svg,
    //     object,
    //     img {
    //       width: 100%;
    //       height: 100%;
    //       // fill: var(--altBlue);
    //       color: var(--altBlue);
    //       path {
    //         // stroke: var(--altBlue);
    //       }
    //     }
    //   }

    //   .h {
    //     text-transform: uppercase;
    //     font-size: 1.5rem;
    //     margin: 1em 0;
    //   }

    //   .list {
    //     // margin: 2em 0;
    //     margin-top: 100px;
    //     display: flex;
    //     flex-direction: column;
    //     // align-items: center;
    //     gap: 0.5em;

    //     @media screen and (max-width: 550px) {
    //       width: 100%;
    //       text-align: left;
    //     }
    //     p {
    //       background: var(--lBlue);
    //       color: var(--black);
    //       text-transform: uppercase;
    //       font-family: var(--fontsb);
    //       padding: 0.15em 1em;
    //       font-size: 1.2rem;
    //     }
    //   }
    // }
    .categories {
      // max-width: 1000px;
      margin: 100px auto;
      max-width: 1280px;
      // display: grid;
      // grid-template-columns: 1fr 1fr;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      // padding: 1em;
      gap: 1.2em;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        // background: #283f58;
        border: 80px solid;
        box-sizing: border-box;
        // margin: -80px;
        // scale: 1.05;
        border-image: url("/de/framegold.png") 13% 20% repeat;
        // box-sizing: initial;
        // transform-origin: left;
        // transform: translateX(-50%);
        z-index: -1;
      }
      .category {
        background: white;
        display: grid;
        grid-template-columns: 2fr 1fr;
        transition: all 250ms var(--mainEase);
        width: 600px;
        // border: 1px solid rgba(128, 128, 128, 0.258);
        @media screen and (max-width: 1024px) {
          width: 100%;
        }

        @media screen and (max-width: 360px) {
          display: flex;
          flex-direction: column;
        }
        border-bottom: 4px solid var(--gold);

        box-shadow: 0px 4px 9px 0px #283f5844;

        h2 {
          font-size: 3rem;
          line-height: 80%;
          text-transform: uppercase;
          margin-bottom: 0.2em;
          max-width: 80%;
          color: var(--grey);

          @media screen and (max-width: 550px) {
            font-size: 2rem;
          }
        }

        .desc {
          opacity: 1;
          p {
            color: rgba(61, 87, 115, 0.733);
          }
        }
        .view {
          display: flex;
          align-items: center;
          border-bottom: 1px solid var(--black);
          width: max-content;
          font-size: 0.8rem;
          gap: 1em;
          margin: 1em 0;
          font-weight: 500;
          svg {
            width: 10px;
            height: 10px;
          }
        }
        .left {
          padding: 3.3em;
          // background: red;
          width: 100%;
          position: relative;
          z-index: 1;
          text-shadow: 0px 0px 4px white;

          @media screen and (max-width: 550px) {
            padding: 2em;
          }
          @media screen and (max-width: 420px) {
            padding: 1.5em;
          }
          .bg-img {
            position: absolute;
            z-index: -1;
            height: 100%;
            width: 100%;
            top: 0%;
            left: 0%;
            user-select: none;
            pointer-events: none;
            mask-image: linear-gradient(
              to left,
              rgba(255, 255, 255, 0.631),
              transparent 100%
            );
            object-fit: cover;
            opacity: 0.3;
            object-position: center;
            filter: blur(3px);
            transition: all 500ms ease;

            @media screen and (max-width: 1024px) {
              filter: none;
            }
          }
        }
        .list {
          padding-left: 0.2em;
          padding: 1.5em 0.85em;
          text-align: right;
          display: flex;
          // justify-content: flex-end;
          align-items: flex-end;
          flex-direction: column;
          gap: 0.55em;
          .item {
            display: flex;
            gap: 0.2em;
            p {
              color: #2a3f46ad;
              font-size: 1rem;
              font-family: var(--fontsb);
              font-weight: 300;
            }
            // letter-spacing: -1px;
          }
        }

        &:hover {
          scale: 1.02;
          cursor: pointer;
          .left {
            .bg-img {
              opacity: 0.5;
              filter: blur(0px);
            }
          }
        }
      }
    }
    .terms-cta {
      position: relative;
      padding-bottom: 150px;
      .p {
        text-align: center;

        a {
          display: inline-flex;
          align-items: center;
          gap: 0.2em;
          font-weight: bold;

          svg {
            display: block;
            // padding-top: 0.em;
            // top: 15%;
            transform: translateY(8%);
          }
        }
      }
    }
    .particle-container {
      position: absolute;
      width: 100vw;
      filter: brightness(100%) blur(5px);
      height: 350px;
      bottom: 0%;
      user-select: none;
      pointer-events: none;
      canvas {
        mask-image: linear-gradient(to bottom, transparent, white, transparent);
      }
    }
  }
  .vid-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: -250px;
    flex-direction: column;
    gap: 1em;
    .btn-main {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1em;
      padding-right: 1em;
      font-size: 1.4rem;
    }
    .video-trailer {
      width: 100%;
      max-width: min(1000px, 80%);
      margin: 0 auto;
      aspect-ratio: 16/9;
      border: 4px solid var(--gold);
      box-shadow: 0px 0px 4px var(--altBlue);
      width: 100%;
    }
  }
  #timeline {
    padding-top: 300px;
    .confine {
      max-width: 1200px;
      margin: 0 auto;
    }
    #timeline-heading {
      margin: 20px 0;
      margin-bottom: 150px;
      position: relative;
      .cloud {
        position: absolute;

        @media screen and (max-width: 550px) {
          scale: 0.5;
          top: -250px !important;
        }
        &.l {
          left: -150px;
          top: -180px;
          rotate: -40deg;
        }

        &.r {
          right: -150px;
          top: -150px;
        }
      }
      .confine {
        @media screen and (min-width: 768px) {
          display: grid;
          grid-template-columns: 1.1fr 1fr;
        }
        max-width: min(950px, 90%);
        gap: 3em;
        align-items: center;
        figure {
          .splat {
            position: absolute;
            z-index: -100;
            left: 10%;
            scale: 2;
            opacity: 0.4;
          }
          position: relative;
          &::before {
            content: "";
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            outline: 3px solid var(--gold);
            z-index: 10;
            outline-offset: -10px;
          }
          img {
            max-height: 250px;
            object-fit: cover;
            width: 100%;
            height: 100%;
            z-index: -2;
            position: relative;
            // display: none;
          }
        }

        article {
          position: relative;
          .de-moon {
            position: absolute;
            top: -50%;
            left: 75%;
            scale: 1.5;
            z-index: -2;
            height: 150%;
          }
          .p {
            margin: 1em 0;
          }
        }
      }
    }

    #steps-timeline {
      display: flex;
      flex-direction: column;
      gap: 100px;
    }
    .step {
      background: #f4fbff;
      position: relative;

      .branch {
        position: absolute;
        top: -100px;
        left: -50px;
        scale: 1;
        width: 400px;

        @media screen and (max-width: 800px) {
          top: -200px;
          scale: 0.7;
        }
        @media screen and (max-width: 550px) {
          top: -200px;
          left: -190px;
        }
      }
      &:nth-of-type(even) {
        .branch {
          position: absolute;
          top: -100px;
          right: -50px;
          left: initial;
          width: 300px;
          scale: -1 1;
        }
        .confine {
          display: flex;
          flex-direction: row-reverse;
          @media screen and (max-width: 550px) {
            flex-direction: column;
          }
          .title {
            .h {
              text-align: right;
            }
          }
        }
      }
      .confine {
        display: flex;
        @media screen and (max-width: 550px) {
          flex-direction: column;
        }
        // flex-direction: column;
        gap: 1em;
        // padding: 100px 0;
        min-height: 400px;
        .title {
          padding: 70px 70px;
          min-width: 35%;
        }
        .details {
          @media screen and (min-width: 800px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
          }
          gap: 50px;
          position: relative;
          padding: 70px 70px;
          .border {
            content: "";
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            border: 150px solid;
            border-image: url("/de/frame-border-blue.png") 33%;
            box-sizing: border-box;
            // scale: 1.4 1.8;
            scale: 1.1;
            user-select: none;
            pointer-events: none;
          }
          .detail {
            // &:hover {
            //   background: rgba(7, 56, 95, 0.108);
            //   padding: 1em;
            // }
            // transition: all 450ms var(--mainEase);
            .h {
              font-size: 1.5rem;
              color: #283f58;
            }
            .p {
              margin: 1em 0;
              font-size: 0.9rem;
              a {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
}
